<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | About Us</title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
      The <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      is a project to make a book and screencasts to teach web development
      with <a href="http://rubyonrails.org/">Ruby on Rails</a>. This
      is the sample application for the tutorial.
</p> </body>
</html>

<br>

<%= link_to 'New User', new_user_path %>

<%= link_to 'New Micropost', new_micropost_path %>

<br>
<%= link_to 'Index', users_path %>

<br>
<%= link_to 'Static_pages Home', static_pages_home_path %>